<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do List</title>
</head>
<body>
    <a href="/add">Add a To Do</a>
    <br>
    <table>
        <tr>
            <th>Task </th>
            <th>Due Date </th>
            <th>Priority </th>
            <th>Actions </th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text=" ${todo.taskname}  "> </td>
            <td th:text=" ${todo.duedate}  "> </td>
            <td th:text=" ${todo.priority}  "> </td>
            <td>
                <a th:href="@{/update/{id}(id=${todo.id})}">Update</a> -
                <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a> -
                <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>